@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Noto Serif";
  src: url("../fonts/NotoSerif-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url("../fonts/NotoSerif-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Noto Serif";
  src: url("../fonts/NotoSerif-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url("../fonts/NotoSerif-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

/* ---------- Typography ---------- */

html {
  font-family: "Noto Sans", serif;
  line-height: 1.5;
  font-size: clamp(1rem, 2.2vw, 1.2rem);
}

h1,
.heading-1 {
  font-size: clamp(1.802rem, 6.011vw, 4.209rem);
  font-family: "Noto Serif", serif;
  line-height: 1.1;
}

h2,
.heading-2 {
  font-size: clamp(1.602rem, 4.759vw, 3.157rem);
  font-family: "Noto Serif", serif;
  line-height: 1.2;
}

h3,
.heading-3 {
  font-size: clamp(1.424rem, 3.793vw, 2.369rem);
  margin-block-end: 0.75rem;
  line-height: 1.3;
  color: #387bb2;
}

h4,
.heading-4 {
  font-size: clamp(1.266rem, 3.043vw, 1.777rem);
  margin-block-end: 0;
  text-transform: uppercase;
}

h5,
.heading-5 {
  font-size: clamp(1.125rem, 2.458vw, 1.333rem);
  border-block-end: 0.0625rem solid #387bb2;
}

h6 {
  font-size: 1rem;
  font-family: "Noto Serif", serif;
}
